#root {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    place-content: center;
    gap: 40px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #000;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
